/*----------
Default CSS
----------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    line-height: 1.3;
    font-family: "Poppins", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a, a:hover {
    text-decoration: none;
}